/* $Id: style.css 51 2006-12-03 11:59:14Z kuettler $ */

body {
    font-family:"palatino linotype",
    "palatino lt std",
    "palatino lt pro"
    palatino,
    "urw palladio l",
    palladio,
    "zapf calligraphic 801",
    "zapf calligraphic",
    "book antiqua",
    z-antiqua,
    aldus;
    font-weight:normal; }

h1 { font-size: 2em; font-weight:normal; }
h2 { font-weight:normal; font-family:serif; color:#039; }

span.TeX { letter-spacing: -0.1em; }
span.TeX span.E { position:relative;
                  top:0.35ex;  left:-0.06em;
                  text-transform:uppercase; }
a span.TeX span.E { text-decoration: none; }

span.LaTeX { letter-spacing: -0.2em; }
span.LaTeX span.A { position:relative; top:-0.4ex;
                    font-size:80%; text-transform:uppercase; }

*.figure {}
i.et { }

img.example { padding-left: 2em; padding-right: 2em; }

table { border-style: solid none; margin-left:2em; }

/*body { background-image:url(seal.png); background-repeat:no-repeat;
       background-position: top right;  background-attachment:fixed; }*/

*.right { text-align:right; }
blockquote { font-style:italic; font-size:small; }

*.blueserif { font-family:serif; color:#039; font-size:108%; }

dt { font-family: serif; font-size:108%; }

dl.red dt { color:red; }
dl.red a:link    { color:#900; }
dl.red a:visited { color:#600; }
dl.red a:focus   { color:#400; }

*.caps {  letter-spacing:0.15em; text-transform:uppercase; font-variant:small-caps; }
*.smallcaps { letter-spacing:0.15em; text-transform:lowercase; font-variant:small-caps; }

*.blue   { color:#039; }
*.red    { color:red; }
*.maroon { color:#AD1737; }

a:link    { color:#039; text-decoration:none; }
a:visited { color:#666; text-decoration:none; }

a:focus   { color:#444; text-decoration:underline; }
a:hover   { text-decoration:underline; }
a:active  { text-decoration:underline; }

span.block { margin:0.5em; padding:0.5em 2em;
            background-color:#EEE;
            text-align:center;
           }
